[2016-04-07 05:34] mattliddy opened #1 "Stacked bar charts don't work"
Stacked bar charts don't load, even when using template data. Here's an example:

http://www.abc.net.au/dat/news/interactives/graphics/20160405-Vote-compass-test/index.html

[2016-04-07 05:45] BluClare opened #2 "Automatically generated Google Sheet doesn't have important label options"
There are only a few options in the automatically generated Google Sheets in the 'labels' tab. All the important options need to be listed for each new type of chart.

[2016-04-07 05:51] BluClare opened #3 "Dot chart error - only three dots appeared with no text"
Only three dots appeared when I created this dot chart:
20160405-Vote-Compass-dotchart-test

[2016-04-07 05:55] BluClare opened #4 "Line chart with new data did not work until I added these values to the label tab"
See sheet:
https://docs.google.com/spreadsheets/d/1-9mKBm5BZKns9D3MdOdDZWnMoZ1WWVAGMlpWyDpYsGI/edit#gid=0

interpolate	linear
marginRight	180
xLabel	     Week
marginBottom	20
yLabel	Percentage of Vote Compass responses
theme	multicolor
colors
timeFormatSmall	%y
minValue	0
maxValue	60
ticksX	6

[2016-04-07 05:57] BluClare opened #5 "State grid map non responsive to new dataset"
https://docs.google.com/spreadsheets/d/198QdyOffMbtXyByVzEz-YaOrqp5w8aM30fsLEq-r5_U/edit#gid=1281681967

I tried to input Australian electorates instead of American states. This did not work in the visualisation. Very odd outcomes. However the default data works.

[2016-04-07 05:58] BluClare opened #6 "Very Basic Chart does not load, even with template dataset"
See:
http://www.abc.net.au/dat/news/interactives/graphics/20160406-verybasicnewgraphic-test/index.html

[2016-04-07 06:02] BluClare opened #7 "Documentation needs more info on how to assign colours to the charts"

[2016-04-08 02:14] BluClare commented on #7
I've found more information that was shared on the Trello Page:

From Ben Spraggon:

"There are several colour scheme available for each chart type. Colour is only ever used as an adjunct-- elements are always labeled. All of these colour schemes are sensitive to the majority of colour blind users. The default colour scheme is Single Colour. Colours in each scheme are different depending on if the

[2016-04-08 02:26] BluClare commented on #7
I went to test this in 'state grid', but am not sure of the useable colour option for 'state grid' https://docs.google.com/spreadsheets/d/198QdyOffMbtXyByVzEz-YaOrqp5w8aM30fsLEq-r5_U/edit#gid=0

[2016-04-08 03:44] BluClare commented on #5
This may need a lot of work to get it up to scratch. This may be a low priority.

[2016-04-08 05:22] BluClare opened #8 "Histogram chart does not work, even with template data"

[2016-04-08 07:26] BluClare opened #9 "Locator map does not work, even using sheet template data"

[2016-04-11 05:34] BluClare opened #10 "Slope Chart defaults to percentage"
Working in the slope chart, the figure defaults to a percentage when I need to use a numeric rating out of 10. See: http://www.abc.net.au/dat/news/interactives/graphics/20160411-VoteCompassleaders-test/index.html#mobile

[2016-04-11 05:53] BluClare opened #11 "Slope Chart has strange configuration and excess blank space."
When new data was added in, excess blank space appeared in the chart underneath the slopes.

[2016-04-11 23:48] blakebutcher commented on #2
Which options are you expecting to see? Are they listed somewhere?

[2016-04-11 23:49] blakebutcher commented on #11
Do you have a link to where I can see this happening?

[2016-04-11 23:52] BluClare commented on #2
@blakebutcher There are more options listed in the documentation: https://github.com/abcnews/dailygraphics/blob/master/Documentation.md

But there is only info on line and bar charts, and not much of it appears automatically in the template sheet.

[2016-04-11 23:57] BluClare commented on #11
http://www.abc.net.au/dat/news/interactives/graphics/20160411-VoteCompassleaders-test/index.html

[2016-04-11 23:59] BluClare commented on #11
Actually - I adjusted the numbers to percentages instead and it deleted the blank space. So when my values were numbered 3.6 instead of 36% the blank space was about the same size as the chart. this could be something to do with the minimum and maximum settings but it wasn't clear how to change those.

[2016-04-12 00:12] BluClare commented on #4
Could not work out how to fix this one.... http://www.abc.net.au/dat/news/interactives/graphics/20160411-Votecompassleadersline-test/index.html
https://docs.google.com/spreadsheets/d/1auWUjv9r6MkKyuDraK8ysFTTwC75x4gbfIN9-CS6MNQ/edit#gid=0

[2016-04-13 04:31] blakebutcher commented on #11
My bad, I closed the wrong issue.

[2016-04-13 04:47] blakebutcher commented on #1
I've updated the stacked bar chart template to fix this, and it does fix new stacked bar charts. However deploying changes for the existing example above is not working properly. I'll look into that further...

[2016-04-13 23:29] blakebutcher opened #12 "Updates to the templates don't flow through to individual graphics when they are re-deployed"
In #1 there was a problem with the Stacked Bar Chart template that caused the JS to break, with the following example: http://www.abc.net.au/dat/news/interactives/graphics/20160405-Vote-compass-test/index.html

The graphic template was fixed and new Stacked Bar Charts are using the updated code. However after re-deploying the example above via Chart Builder the problem remains. The template change

[2016-04-13 23:30] blakebutcher commented on #1
I'm resolving this issue but I've created another for the problem with template changes not flowing through to re-deployed graphics: #12

[2016-04-13 23:30] #1 closed

[2016-04-13 23:49] blakebutcher commented on #12
So it looks like the templates are updated on newsdev, and when you deploy changes via Chart Builder that process is working fine, but the problem is that the template changes under `/dailygraphics/graphic_templates/stacked_bar_chart/` never make it over to `/graphics/20160405-Vote-compass-test/` . They are only copied over when the graphic is first created.

There are pros and cons to this, but i

[2016-04-13 23:51] louisstow commented on #12
Yeah this was annoying. I think I ended up manually copying my changes but a way to refresh it would be great.

[2016-04-14 00:07] blakebutcher commented on #6
All the graphs seem to have a fallback to a static image (but that `fallback.png` doesn't exist for any of them). I suspect the "Very basic chart" is where the image is intended to be presented to the audience and not just as a fallback.

So I think what we need here is a way of defining the `fallback.png` for all graphic types (and possibly a way of automating the creation of the `fallback.png` f

[2016-04-14 00:12] louisstow commented on #6
I couldn't find out how fallback.png was supposed to be generated (or if it was supposed to be manual) so I removed it from most of the common templates.

[2016-04-14 02:10] blakebutcher commented on #2
Each graphic template has a COPY_GOOGLE_DOC_KEY for defining which Google Sheet to copy when creating a new graphic. At the moment these are all pointing to original dailygraphics sheets which we don't have access to update. So I'll need to duplicate all of these into the abcinteractives account and update the COPY_GOOGLE_DOC_KEY. Then we will be able to add more fields to appear for newly created

[2016-04-14 04:33] blakebutcher commented on #2
I've updated the bar chart template to use an abcinteractive owned copy of the Sheet template: https://docs.google.com/spreadsheets/d/1KhWRjjUtsrI9ylf0kYZ0_G9IDQvHOup3F99nf3tko9w/edit#gid=0

In this I've added the "theme" option and restricted it to a dropdown that is populated by this sheet https://docs.google.com/spreadsheets/d/1kzcVoldQJ-WV8RcgN5ox-cwIbnhIiw7DS9eVx109RE0/edit#gid=0

I'll start

[2016-04-14 05:20] blakebutcher commented on #3
I think the 20160405-Vote-Compass-dotchart-test data is incompatible with the chart type. It needs to follow the "label", "amt", "min", "max" structure. If you create a new graph you can see the example data works.

[2016-04-14 05:20] #3 closed

[2016-04-14 05:49] blakebutcher commented on #4
For http://www.abc.net.au/dat/news/interactives/graphics/20160411-Votecompassleadersline-test/index.html there seemed to be 2 problems:
1. The dates in the spreadsheet were set to a "Date" number format. I changed this to "Plain Text" to make it consistent with the example
2. The `parseDateFormat` value was incorrect. I updated it to `%-m/%-d/%Y`

It may be possible that there is a `parseDateForma

[2016-04-15 03:46] drzax opened #13 "Merge from upstream?"
It might be worth looking at merging NPR's upstream master https://github.com/nprapps/dailygraphics

[2016-04-19 06:13] BluClare commented on #2
@blakebutcher There will also need to be a political party colour scheme option if we're to use this for the election.

[2016-04-19 07:24] BluClare opened #14 "The Notes section is misaligned"

[2016-04-28 07:02] BluClare commented on #4
I've tested this again today, and the chart won't work properly with new data pasted in and if I don't change anything in the 'values' tab

[2016-04-28 07:05] BluClare commented on #4
On the mobile configuration, the dates just appear as "16" which means 2016 but would be incomprehensible to a reader. See example here: http://www.abc.net.au/dat/news/interactives/graphics/gt-turnbull-vs-abbott-3-months/#mobile

[2016-04-29 07:05] BluClare opened #15 "Line chart labels disappearing off end of chart."
In the line chart, the labels of each of the lines is disappearing on the right. See here for the problem: http://www.abc.net.au/dat/news/interactives/graphics/gt-turnbull-vs-abbott-3-months/#desktop

[2016-04-29 07:18] BluClare opened #16 "The 'dots' on the line chart are too large on mobile."
The dots on the line chart tend to overtake when you're looking at a chart on mobile. See example here: http://www.abc.net.au/dat/news/interactives/graphics/gt-turnbull-vs-abbott-3-months/#mobile

[2016-05-04 04:42] blakebutcher commented on #2
@BluClare we could add another theme with the political party colours but that would be assuming the data for the political parties are always managed in the same order. It is currently possible to use the "colors" label to define a set of comma separated colours that are used, which allows more flexibility in assigning colours to different data.

I think the best option here is to have the Google

[2016-05-05 02:16] blakebutcher commented on #16
![screen shot 2016-05-05 at 12 14 39 pm](https://cloud.githubusercontent.com/assets/245146/15034646/12a4dc52-12bb-11e6-802d-ae75cfda9f7c.png)

I've got a change ready to go that reduces the size of the dots and makes the lines thinner at the lower breakpoint. Is that good or does it need further tweaking?

[2016-05-05 02:27] BluClare commented on #16
It needs further tweaking. Maybe the dots shouldn't be obvious at all.

On 5 May 2016 at 12:16, Blake Butcher notifications@github.com wrote:

[2016-05-05 02:31] blakebutcher commented on #16
![screen shot 2016-05-05 at 12 30 30 pm](https://cloud.githubusercontent.com/assets/245146/15034823/3a56012a-12bd-11e6-9a5d-0efbe648bd0e.png)
How about this?

[2016-05-05 02:33] blakebutcher commented on #16
![screen shot 2016-05-05 at 12 32 53 pm](https://cloud.githubusercontent.com/assets/245146/15034854/8be57a34-12bd-11e6-950a-28351000d772.png)
Or this?

[2016-05-05 03:14] BluClare commented on #16
That last version is really great.

On 5 May 2016 at 12:33, Blake Butcher notifications@github.com wrote:

[2016-05-05 03:19] #16 closed

[2016-05-05 03:24] blakebutcher commented on #16
OK new graphics should get the new styles but existing ones wont (even when you "Deploy Changes" in Chart Builder) because of issue #12

[2016-05-05 03:28] blakebutcher commented on #4
@BluClare Can you please make a seperate issue for the 2016/16 problem?

[2016-05-05 03:33] blakebutcher commented on #14
Example bar chart with Notes section: http://www.abc.net.au/dat/news/interactives/graphics/vote-compass-bar-chart-test-/#mobile

@BluClare just to clarify, do you mean the Notes section should be aligned with Source and Credit? This seems to be a common problem across all chart types?

[2016-05-05 03:35] BluClare commented on #14
Yes, it makes it look quite odd to have the Notes not in line with anything
else.

On 5 May 2016 at 13:33, Blake Butcher notifications@github.com wrote:

[2016-05-05 03:37] BluClare opened #18 "In the mobile view, the dates just appear as 16 instead of 2016"
On the mobile configuration, the dates just appear as "16" which means 2016 but would be incomprehensible to a reader. See example here: http://www.abc.net.au/dat/news/interactives/graphics/gt-turnbull-vs-abbott-3-months/#mobile

[2016-05-05 03:38] BluClare commented on #4
I've made it issue #18

On 5 May 2016 at 13:28, Blake Butcher notifications@github.com wrote:

[2016-05-05 04:11] #14 closed

[2016-05-05 04:12] blakebutcher commented on #14
OK looks like this was just an oversight when the panel styles were added. It should be fixed for new graphics.

[2016-05-05 06:04] BluClare opened #19 "Skipping the second colour when specifying the colours of lines in a line chart."

[2016-05-05 06:05] blakebutcher commented on #19
Example: http://www.abc.net.au/dat/news/interactives/graphics/maylinetest/

"colors" is set to "ptylib, red, ptylab, ptygrn, grey"

The second value (red) does not appear on the graph, but the others do in correct order.

[2016-05-05 06:37] BluClare opened #20 "Labeling of the x and y axis does not work in line chart using the instructions in the documentation."
These instructions do not change the labels on the x and y axes. See: http://www.abc.net.au/dat/news/interactives/graphics/maylinetest/

xLabel

Default: none
Label the X axis. You may need to increase the margins if the label doesn't fit.

yLabel

Default: none
Label the Y axis.

[2016-05-05 06:42] BluClare opened #21 "Line charts are not showing a full date, only showing month and year."
Example here: http://www.abc.net.au/dat/news/interactives/graphics/maylinetest/#fluid

[2016-05-05 06:48] BluClare opened #22 "Line charts are not showing a full date in their publishing form. They're only showing month and year."
Example here: http://www.abc.net.au/dat/news/interactives/graphics/maylinetest/#fluid

[2016-05-05 07:06] #22 closed

[2016-05-05 07:17] blakebutcher commented on #18
This seems to be intentional behaviour for the mobile view, so I'm hesitant to change it. I'm guessing they did it to save space.

It seems like the real problem in the example is that it shows "16" multiple times with no differentiation. When it would make more sense for it to show the quarter or month of that gridline. I'll look into what options we have to change that.

[2016-05-06 06:17] BluClare commented on #19
@blakebutcher This same issue happens with the bar charts.

[2016-05-06 06:26] BluClare opened #23 "Implement xLabel and yLabel for bar charts"
An example here:
http://www.abc.net.au/dat/news/interactives/graphics/maybartest/#mobile

I made sure that the spreadsheet basically matched the values layout of the line chart we've already tinkered with as a line chart test.

[2016-05-06 07:34] BluClare opened #24 "How do I set up a date and time column in a line chart?"
I tried to do use a time/date series that looks like this:

time	One	Two
2016-05-03-00:00	7	2
2016-05-03-01:00	6	1
2016-05-03-02:00	6	1

I couldn't work out how to match it back up in the values spreadsheet: http://www.abc.net.au/dat/news/interactives/graphics/trendsmaylinetest/

[2016-05-08 23:38] blakebutcher commented on #24
Fixed. The `parseDateFormat` needed to be `%Y-%m-%d-%H:%M`

[2016-05-08 23:38] #24 closed

[2016-05-08 23:41] blakebutcher commented on #23
Relates to #20 & #19

[2016-05-09 02:03] #20 closed

[2016-05-09 02:10] blakebutcher commented on #20
@BluClare I've fixed this for new Line Charts. Can you please test?

I couldn't see the same problem in the Bar Chart template. Are you sure that has the same problem?

[2016-05-09 04:30] blakebutcher commented on #21
I've switched line charts to use a multi-resolution time format ( https://github.com/mbostock/d3/wiki/Time-Formatting#format_multi ) which is the same as d3's default, except I've removed preceding zeros and added newlines instead of spaces.

I'll need to do the same for all the other chart types.

[2016-05-09 05:25] blakebutcher commented on #21
I've added back in the ability to override the x axis time format using `timeFormatLarge` and `timeFormatSmall`. However these wont be multi-resolution like the default, they are limited to the one format.

[2016-05-09 05:56] blakebutcher opened #26 "Add option of showing the labels in a legend instead of on the right of the graph"

[2016-05-09 05:58] blakebutcher opened #27 "Calculate marginRight automatically from the content"
Instead of setting the `marginRight` value to fit the chart labels it should work it out itself.

[2016-05-09 05:59] blakebutcher commented on #15
We can use the `marginRight` content configuration to increase the space for the labels. I've also updated it so mobile will use 90% of the marginRight value (instead of being hardcoded to 45).

Ideally it would work out the space required based on the content itself. I've created #27 for that.

Also we would want the option of showing the labels in a legend instead of on the right of the graph. P

[2016-05-09 05:59] #15 closed

[2016-05-09 06:32] blakebutcher commented on #18
The default time format has changed, so this is no longer a problem (see #21). You can also use `timeFormatSmall` to override the default time format for mobile.

[2016-05-09 06:32] #18 closed

[2016-05-09 07:39] #19 closed

[2016-05-09 07:40] blakebutcher commented on #19
Should be fixed for new charts.

[2016-05-09 07:47] blakebutcher commented on #23
The colour problem should be fixed in #19.

The xLabel and yLabel don't appear to have been implemented for bar charts yet. I'll update this issue to look at that specifically.

[2016-05-09 07:51] blakebutcher commented on #21
Looks like I wont need to do the same for all the other chart types, because they don't have time scales.

[2016-05-09 07:51] #21 closed

[2016-05-10 03:39] blakebutcher commented on #2
I've implemented what I described in my comment directly above for new line charts and bar charts.

[2016-05-10 05:27] BluClare opened #28 "Line charts: implement an option to disable the dots on line charts."

[2016-05-10 05:41] blakebutcher commented on #28
@BluClare It looks like there may already be an undocumented option for this. Try "circleMarker" = "off". If that works I'll add it to our documentation.

[2016-05-10 05:50] BluClare opened #29 "Line chart: if lines all end up near the same point, they overlap and are unreadable."
![image](https://cloud.githubusercontent.com/assets/18301380/15136658/dd46add2-16c6-11e6-9c0b-715dc90d07ac.png)

[2016-05-10 05:50] #28 closed

[2016-05-11 00:44] BluClare opened #30 "Line chart: please build in option to be able to remove the last label from the X axis."

[2016-05-11 00:46] blakebutcher commented on #2
I've updated the line chart and bar chart Google Sheet templates to contain labels for all of the documented options, with data validation where appropriate.

To do this I had to update the "nocard" option to now be a "card" option with an on/off value (defaulting to on).

I'll resolve this issue and we can deal with further changes and the other chart types in seperate issues.

[2016-05-11 00:46] #2 closed

[2016-05-11 00:50] blakebutcher commented on #4
I think this has all been sorted in #2

[2016-05-11 00:50] #4 closed

[2016-05-11 01:17] blakebutcher opened #31 "Line chart: colour the data labels on the right the same as the lines/dots"

[2016-05-11 01:35] blakebutcher commented on #26
Looks like this was already implemented in the original dailygraphics project but removed in our fork.

@louisstow do you know the back story for this? Was it replaced with the labels to the right? Is it because the legend relies on colour to distinguish between data sets and is therefore not accessible?

[2016-05-11 05:18] #29 closed

[2016-05-11 05:20] blakebutcher commented on #29
@BluClare can you please test this with a new line chart?

[2016-05-11 23:44] BluClare opened #32 "Grouped bar chart: default formatted height doesn't work with big bar chart groups"
See example: http://www.abc.net.au/dat/news/interactives/graphics/20160513-vote-compass-issues-undecided/

[2016-05-12 03:10] blakebutcher commented on #32
@BluClare this should be fixed now

[2016-05-12 03:10] #32 closed

[2016-05-12 03:19] blakebutcher opened #33 "Grouped bar chart - Add option for rounding the numbers in the value labels"
Make the default 1 decimal place as in the design: https://trello.com/c/xdZc4xP2/20-grouped-bar-chart

[2016-05-12 04:55] #33 closed

[2016-05-12 04:58] blakebutcher commented on #33
I left the default at 10 so that it is up to the editor to set this appropriately based on the largest number in the data. In most cases it should be set to 1 or 0.

[2016-05-12 07:23] #31 closed

[2016-05-13 04:39] BluClare opened #34 "All charts: Can we autogenerate screenshots of the charts when they are deployed?"

[2016-05-16 23:49] blakebutcher commented on #23
The bar chart designs in Trello do not have X or Y axis labels: https://trello.com/c/JbqWq0sY/19-bar-chart

@BluClare if you'd like to pursue this one further can you please discuss with Ben and get him to provide updated designs?

[2016-05-16 23:59] blakebutcher commented on #7
The chart types I've looked at so far (line chart, bar chart, grouped bar chart) now have "theme" as a dropdown (with the themes applicable to that chart type) and the "color" label ready to populate (when used with "custom" theme). I've also updated the documentation to cover this.

I'll do the same for the other chart types.

[2016-05-17 01:02] blakebutcher commented on #9
The original documentation explains this as:

https://github.com/abcnews/dailygraphics#creating-locator-maps

[2016-05-17 01:05] blakebutcher commented on #34
Yes, this should be possible.

Is this specifically for the fallback.png or is there another reason you want the screenshots? (social sharing?)

[2016-05-17 02:11] blakebutcher commented on #34
Relevant issue on original project: https://github.com/nprapps/dailygraphics/issues/18

[2016-05-17 06:21] blakebutcher commented on #30
@BluClare can you please show examples of where you would use this option if it existed. We'll need to run this past Ben too.

[2016-05-17 07:20] BluClare commented on #34
We'd want the screenshots for the social sharing and for use as CORE Media
thumbnails for the news site.

On 17 May 2016 at 12:11, Blake Butcher notifications@github.com wrote:

[2016-05-17 23:13] blakebutcher opened #36 "Line chart: ensure coloured labels are AA compliant"
Either automatically darken the colours when used on the text or manage them in pairs (line, text)

https://trello.com/c/HCuXcnWO/8-political-colours

[2016-05-17 23:13] mattliddy opened #37 "Provide feedback to user when deploying changes"
On the chart builder, can we give the user feedback after a change to the chart is deployed?

Getting a message like "Successfully deployed" would be re-assuring.

[2016-05-17 23:23] blakebutcher opened #38 "Line charts: Revisit grouping logic for tooltips and labels"
The tooltips and labels are not grouping correctly on these charts:

http://nucwed.aus.aunty.abc.net.au/news/2016-05-18/opinion-polls/7416998

[2016-05-17 23:30] blakebutcher opened #39 "Pie charts: do we want?"
Looks like there was a start on making pie charts, but there is no design for them in Trello.

Do we actually want to be able to create pie charts or are other chart types more effective in presenting the same data?

[2016-05-18 01:58] blakebutcher commented on #38
I've updated the grouping logic to work better

[2016-05-18 01:58] #38 closed

[2016-05-18 01:58] blakebutcher commented on #38
https://github.com/abcnews/dailygraphics/commit/a38ab926c883f2149e1ca647c2e7651fe344218a

[2016-05-18 02:25] #23 closed

[2016-05-18 05:59] #36 closed

[2016-05-18 06:04] blakebutcher commented on #36
I've created a helper for getting a color value that meeting contrast requirements. I'm using it on the tooltips and labels on line charts.

[2016-05-19 00:54] blakebutcher commented on #37
@mattliddy At the moment I'm not confident that I can reliably report if the graphic has successfully deployed so I've updated Chart Builder so that the server commands and outputs are exposed on the page instead of automatically redirecting back.

Its probably not what you were wanting but I think its a step in the right direction and provides useful debugging information if something does go wro

[2016-05-19 00:55] blakebutcher commented on #6
Relates to #34

[2016-05-19 01:45] BenSpraggon commented on #30
@BluClare can you please explain why you want this?

[2016-05-19 01:47] BenSpraggon commented on #39
Generally other charts are more effective unless you are only looking at two categories. We will want to work on pie charts eventually but it's not high priority at the moment.

[2016-05-19 01:54] BenSpraggon commented on #26
@blakebutcher Yes to both of your questions to @louisstow. Labeling elements directly is always a better option. However, on small devices we may start to eat into too much plotting space so ideally if a label is too long (don't really know what too long is yet) and it can't be broken into multiple lines then we'd revert back to a legend to ensure the plot is legible. If we stick to the provided c

[2016-05-19 02:59] blakebutcher commented on #12
OK there is now a new option in the advanced mode of Chart Builder that allows you to redeploy the templates. It will get new files from the base and template folders but it will keep the `graphic_config.py` the same because we want to keep the relationship with the content Google Sheet.

[2016-05-19 02:59] #12 closed

[2016-05-20 00:53] BluClare opened #40 "Charts not redeploying"
![image](https://cloud.githubusercontent.com/assets/18301380/15413957/fa11e79c-1e78-11e6-9a3d-0ceadca4e037.png)

See: http://www.abc.net.au/dat/news/interactives/graphics/2016-election-campaign-ads-cumulative-total/

[2016-05-20 00:59] blakebutcher commented on #40
Not sure what the cause of this was but redeploying the template seems to have fixed it. Let me know if it happens again.

[2016-05-20 00:59] #40 closed

[2016-05-20 00:59] blakebutcher commented on #40
Not sure what the cause of this was but redeploying the template seems to have fixed it. Let me know if it happens again.

[2016-05-20 00:59] blakebutcher commented on #40
Not sure what the cause of this was but redeploying the template seems to have fixed it. Let me know if it happens again.

[2016-05-20 01:34] BenSpraggon opened #41 "Extra notches displaying on line charts x-axis"
[
![extra_notches](https://cloud.githubusercontent.com/assets/19443071/15414532/b5a25104-1e7e-11e6-9fee-64b6e0e91b64.png)
](url)

[2016-05-20 01:45] BenSpraggon opened #42 "Line chart x-axis date labels not displaying correctly"
Looks like:
[
![bad](https://cloud.githubusercontent.com/assets/19443071/15414702/7a588d46-1e80-11e6-9a1e-5b15f6b6ab06.png)
](url)

Should be:
![better](https://cloud.githubusercontent.com/assets/19443071/15414677/4ef5fd82-1e80-11e6-80a1-9a70149d6237.png)

[2016-05-20 01:48] BenSpraggon opened #43 "Coloured labels need to be darkened to make them AA compliant"

[2016-05-20 02:07] blakebutcher commented on #42
@BenSpraggon the default date format is a [multi resolution time format](https://github.com/d3/d3/wiki/Time-Formatting#format_multi) but this can be overridden in the Google Sheet using the [timeFormatLarge](https://github.com/abcnews/dailygraphics/blob/master/Documentation.md#timeformatlarge) and [timeFormatSmall](https://github.com/abcnews/dailygraphics/blob/master/Documentation.md#timeformatsma

[2016-05-20 02:12] blakebutcher commented on #43
The labels on line charts should be getting dynamically darkened to be AA accessible. That will only be the case on line charts that were created (or had their templates redeployed) since yesterday.

If there are older line charts that need to be fixed it should just be a case of redeploying the template via Chart Builder's advanced mode.

I still need to update each of the other chart types one b

[2016-05-20 02:56] blakebutcher opened #44 "Line chart: configurable line styles"
something like:

[2016-05-23 01:10] #44 closed

[2016-05-23 01:13] blakebutcher commented on #44
https://github.com/abcnews/dailygraphics/blob/master/Documentation.md#linestyles

[2016-05-23 01:29] blakebutcher opened #45 "Line chart: data labels misaligned when y axis label exists"

[2016-05-23 02:15] #41 closed

[2016-05-23 02:15] #45 closed

[2016-05-23 02:24] blakebutcher commented on #42
@BenSpraggon would you be happy for this issue to be resolved, or should I look into using a single date format (perhaps dynamically based on the axis scale) as the default?

[2016-05-25 04:43] BluClare opened #46 "Change default text in spreadsheets to reference ABC rather than NPR"

[2016-05-25 04:49] blakebutcher commented on #46
I've just updated the `Credit` field in all the Google Sheet templates to be `ABC` instead of `NPR`.

[2016-05-25 04:49] #46 closed

[2016-05-25 06:47] blakebutcher commented on #9
By default it should display a map of Nepal. The reason it doesn't is that the geodata.json is not copied over by the build process.

But there is not much point in changing the build process because there would not be any way for a Chart Builder user to change that data. And I don't think that managing the geodata in the Google Sheet will help us much here.

Currently the "Locator map" option is

[2016-05-25 06:53] blakebutcher commented on #11
@BluClare I think the excess whitespace issue is fixed. Can you please take a look to confirm, and let me know if anything is needed before this issue is closed?

[2016-05-25 06:57] blakebutcher commented on #5
This state grid map is specific to USA states. I've updated the label in Chart Builder to make this clearer. If we want something similar for other countries we'll need to make them as new graphic types.

[2016-05-30 01:20] blakebutcher commented on #8
It is now working with template data: http://www.abc.net.au/dat/news/interactives/graphics/blake-block-histogram/

But it is still pretty specific to that data set. It looks at the "usps" column. And the column divisions are hardcoded in the JS.

[2016-05-30 04:53] #10 closed

[2016-05-30 05:05] blakebutcher commented on #10
I've removed the hardcoded '%' symbols and it now uses suffixX (and prefixX and maxDecimalPlaces) to format the values

[2016-05-30 05:07] blakebutcher commented on #43
Slopegraph is now using accessible coloured labels

[2016-06-07 00:15] blakebutcher commented on #39
I found that pie charts were actually more advanced than I first thought. I've added them to the chart builder interface so they can be experimented with. Any further development on them can be done in new issues.

[2016-06-07 00:15] #39 closed

[2016-06-07 05:54] blakebutcher opened #47 "Wrapping slopegraph labels cut-off when they appear at very bottom"
http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-slopegraph/build/#desktop

![image](https://cloud.githubusercontent.com/assets/245146/17952468/1f1d6cd8-6aae-11e6-9327-0084cdea1981.png)

[2016-06-07 05:55] blakebutcher opened #48 "Slopegraph values and label sets can overlap each other"
When the data value is the same or close

http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-slopegraph/build/#desktop

![image](https://cloud.githubusercontent.com/assets/245146/17952481/3aa078c4-6aae-11e6-8c3c-2202d22ef704.png)

[2016-06-08 02:57] blakebutcher commented on #30
Resolving as WONTFIX

[2016-06-08 02:57] #30 closed

[2016-06-08 02:58] #11 closed

[2016-06-08 02:59] #8 closed

[2016-06-08 05:10] blakebutcher commented on #7
`theme` and `color` are now default labels in the following chart types:
- line chart
- slopegraph
- column chart
- stacked column chart
- dot chart
- bar chart
- grouped bar chart
- stacked bar chart
- pie chart
- block histogram

[2016-06-08 05:10] #7 closed

[2016-06-08 05:11] blakebutcher commented on #43
These should all be accessible now.

[2016-06-08 05:11] #43 closed

[2016-06-08 06:09] BluClare opened #49 "Grouped bar chart: group text does not wrap when in mobile view."
http://www.abc.net.au/dat/news/interactives/graphics/20160609-vote-compass-as-gender/#mobile

[2016-06-08 07:51] #49 closed

[2016-06-08 23:20] blakebutcher opened #50 "Protect label field headings in Google Sheet templates"

[2016-06-09 00:44] blakebutcher commented on #50
Done

[2016-06-09 00:44] #50 closed

[2016-06-09 02:06] blakebutcher opened #51 "Grouped bar chart values misaligned in Firefox when bar height reduced"
http://www.abc.net.au/news/interactives/chart/?chart=20160609-vote-compass-boats-2013-2016

[2016-06-09 02:18] #51 closed

[2016-06-10 01:13] #9 closed

[2016-06-14 00:03] blakebutcher commented on #37
I've improved this further so that the "Continue" button is colour coded based on the shell output. So if everything seems ok it shows as green, otherwise as red.

[2016-06-14 00:03] #37 closed

[2016-06-14 00:05] blakebutcher commented on #6
We will be looking at automating the creation of the fallback.png, so there is no actual desire for editors to use the "Very Basic Chart" type. It is now hidden away in the advanced mode of Chart Builder.

[2016-06-14 00:05] #6 closed

[2016-06-14 00:54] blakebutcher opened #52 "New graphic type: Scatterplot"

[2016-06-14 02:00] BluClare opened #53 "Create a preview option for charts that have already been published."

[2016-06-16 02:12] blakebutcher commented on #53
OK I've updated the Chart Builder interface so that it links to the seperate Staging and Production URLs. And added a new step where you need to manually update Production to use what is currently in Staging.

[2016-06-16 02:12] #53 closed

[2016-06-16 23:42] #42 closed

[2016-06-20 23:51] BluClare opened #54 "In Production preview area, 'Refresh Content' button is ineffective"
'Refresh content' - doesn't work in either the staging preview area nor the production preview area. It only works if you hit the publish button - which undermines the whole point of having two areas. You need to publish before you can see changes.

[2016-06-27 00:50] blakebutcher commented on #54
It works in the staging preview area for me.

With the separation of the deployment process those "Refresh content" links on the preview areas now really mean "Refresh content on staging". So from both the staging and production preview areas clicking it will only update the staging version.

I'll need to do some work to clearly distinguish the staging and production preview areas, and provide dif

[2016-07-06 00:10] blakebutcher commented on #54
New graphics or any that have their templates rebuilt (via the advanced dropdowns) will now get environment specific buttons and labels.

[2016-07-06 00:10] #54 closed

[2016-07-06 00:36] blakebutcher commented on #52
Here is a scatterplot that I've made that shows the progress I've made: http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-scatterplot/build/#desktop

There are a couple of issues here.
1. The data point labels can overlap each other, particularly on mobile. I've added a 'LabelPostion' column to allow editorial control over the label positioning which is ok for desktop but not

[2016-07-08 02:57] #5 closed

[2016-07-12 23:33] BenSpraggon commented on #52
@blakebutcher I'm going to begin work on some designs that will hopefully answer most of these questions

[2016-07-14 00:02] BenSpraggon commented on #52
@blakebutcher We'll have to use a key for these charts and not label directly. I think a LabelPriority column is a great idea. That will allow us to label individual plots where they tell the story. Perhaps further down the line we can think about adding stepthrough buttons for mobile to jump through and highlight the plots in order. Plots should highlight on hover on desktop.

I've put a transpar

[2016-08-09 23:56] blakebutcher commented on #52
Link to the designs on Trello: https://trello.com/c/0dZ3O7Q8/27-scatterplot

Example scatterplot: http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-scatterplot/build/

Example bubbleplot: http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-bubbleplot/build/

I think I've covered pretty much everything from those designs. @BenSpraggon can you please take a

[2016-08-10 00:44] blakebutcher commented on #26
I'll resolve this issue and we can make a new one if we notice labels using up too much plotting space on mobile.

[2016-08-10 00:44] #26 closed

[2016-08-10 04:17] blakebutcher opened #55 "Invert bar overlay text when lighter bar colour used"
These two chart types have values over the bars:
http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-stacked-column-chart/build/
http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-stacked-bar-chart/build/

At the moment the bar text colour is always white and the bar colours are darkened to make them accessible.

Instead we could check if bar colour is dark

[2016-08-15 00:30] BenSpraggon commented on #55
My preference is not to use stacked bar or column charts at all except when there are only 2 variables. I'd also prefer for there not to be any text over the chart elements. Until we come up with a solid alternative to stacked bar and column charts I guess this is a good interim solution.

[2016-08-15 02:06] blakebutcher commented on #55
Thanks @BenSpraggon I'll make the change to the colours.

RE: only using 2 variables in stacked charts... is that something you think should be restricted (maybe using sheet restrictions or in the code)?
and/or should we put something in the documentation?

[2016-08-15 23:14] blakebutcher commented on #55
I've changed the colours.

@BenSpraggon if you would like the number of vars restricted or documented can you please create another issue?

[2016-08-15 23:14] #55 closed

[2016-08-15 23:18] blakebutcher commented on #52
One more thing that may need to be considered is that currently the scatterplot/bubbleplot works with both axes using numerical data. Do I need to allow one or both axes to be date based, and/or a linear series (like the line chart allows)?

[2016-08-25 00:43] blakebutcher opened #56 "Chart preview page broken in IE11"
e.g. http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/20160822-medalcost-targets2/build/

On an ABC machine it renders with document mode of 7 via intranet compatabilty settings. Should be able to force it to use edge with a meta

`<meta http-equiv="X-UA-Compatible" content="IE=edge">`

[2016-08-25 00:48] blakebutcher opened #57 "New graphic type: Sparklines"
https://trello.com/c/HDsQVuuk/23-sparklines-small-multiples
https://trello.com/c/2qtYrsIZ/24-sparklines-inline

[2016-08-25 01:10] blakebutcher opened #58 "Add setting for grouped bar chart to toggle grid view on dektop"
https://trello.com/c/N513Y6dm/22-grouped-bar-chart-small-multiples

[2016-08-25 03:29] blakebutcher opened #59 "2nd newline in label not working"
http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/blake-line-chart/build/

[2016-08-25 03:30] blakebutcher commented on #59
Nevermind... caching issue

[2016-08-25 03:30] #59 closed

[2016-08-25 03:32] blakebutcher opened #60 "Can't disable card styling"

[2016-08-30 00:38] #56 closed

[2016-08-30 01:01] blakebutcher opened #61 "Add ability to trigger "git pull" of chart builder and dailygraphics repos on newsdev through the chart builder web interface on newsdev"
If I do this I can work around the citrix restrictions that stop me from ssh-ing into newsdev

[2016-08-30 03:11] #60 closed

[2016-08-31 01:57] blakebutcher commented on #60
Fixed on new graphics and old ones that do a "Rebuild from template"

[2016-08-31 01:57] blakebutcher commented on #56
Fixed on new graphics and old ones that do a "Rebuild from template"

[2016-09-01 02:14] blakebutcher opened #62 "New graphic type: ai2html"
http://ai2html.org/

It has been implemented in the nprapps repo since we forked, but we'll need a way to allow adding the static assets (html + images) so potentially via Google Sheets...

https://github.com/nprapps/dailygraphics#creating-an-ai2html-graphic
https://github.com/nprapps/dailygraphics/tree/master/graphic_templates/ai2html_graphic

[2016-09-05 04:45] blakebutcher opened #63 "New graphic type: Waffle Chart"
https://trello.com/c/DDzXK4En/28-waffle-chart

[2016-09-07 05:56] #48 closed

[2016-09-08 07:15] #47 closed

[2016-09-13 02:12] blakebutcher opened #64 "Unable to add trendlines with only 1 category"
Catherine Hanrahan:

[2016-09-13 02:46] blakebutcher commented on #64
So http://www.abc.net.au/news/interactives/chart/?chart=boothdata-libsv2000pw does draw a trendline but it is obviously wrong (its draw horizontally across the very top).

I can change the default scatterplot data to just use one category and it seems to work.

I'll try to figure out why the trendline on that specific data is wrong.

[2016-09-13 02:50] blakebutcher commented on #64
TODO: show "Trend line" in legend when there is only 1 category
TODO: hide Legend container when there is nothing to show in there

[2016-09-13 02:59] blakebutcher commented on #64
There is some broken and missing data in http://www.abc.net.au/news/interactives/chart/?chart=boothdata-libsv2000pw that I think is responsible for causing the trendline to be wrong.

[2016-09-13 03:02] blakebutcher opened #65 "Add more validation to the data sheets"
Data fields that expect numbers but contain text/errors/nothing can cause unpredictable results. We should consider adding data validation and/or conditional formatting to the template data sheets to help highlight problematic content

[2016-09-13 03:02] blakebutcher commented on #64
I've created #65 to look into adding more data validation to the sheets

[2016-09-13 22:54] blakebutcher opened #66 "Use different default lineStyles values depending on which theme is set"
https://trello.com/c/Rm4Nrwui/7-multi-colour

[2017-04-26 05:01] drzax opened #67 "Overlapping labels on slope graph"

[2017-04-26 05:01] drzax opened #68 "Slope graph broken on mobile layout"

[2017-04-26 05:05] #67 closed

[2017-04-26 05:05] #68 closed

[2017-04-27 01:43] drzax opened #69 "Add an option for continuous non-time x scale on line-charts"
Sometimes you might want a line chart with a non-time based but continuous x-scale.

An example might be days-since something happened (first 100 days of govt, say).

[2017-04-27 06:59] drzax opened #70 "Filter tickValuesX for values outside the scale's domain"
If, for example, a line chart with an ordinal x axis is given a `tickValuesX` setting of `0,50,100` for a chart with values ranging `1-100`, the zero is outside the domain and results in javascript errors.

[2017-06-05 05:41] drzax commented on #13
An alternative to this (which I'm starting to prefer) is to go our own way. For me, this would include moving entirely away from python to a pure JS (node) implementation for both this and the chart builder (https://github.com/abcnews/chart-builder).

Thoughts @blakebutcher, @colingourlay?

[2017-06-08 04:08] drzax opened #74 "Add a thumbnail graphic for waffle chart"
A screenshot should do I imagine.

Should live in https://github.com/abcnews/dailygraphics/tree/master/graphic_templates/_thumbs

[2017-06-08 05:15] drzax opened #77 "Clone google docs templates into separate folder"
Organisationally, it would be nice to keep the Google Sheets templates which are cloned for each new chart in a separate folder.

Currently, copies made for each specific chart are automatically added to the same folder/location as the templates. It would be ideal if they were kept somewhere separate.

I think this is the relevant function https://github.com/abcnews/dailygraphics/blob/master/fabfi

[2017-06-08 05:25] phocks commented on #74
Fixed by Pull Request #76

[2017-06-08 05:25] #74 closed

[2017-06-29 02:11] phocks commented on #57
Hi everyone. Sparklines are now live! They show the data when you hover over them. http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/test-sparkline-josh/build/ Hopefully in the future we will be able to create some inline sparklines that we can embed within paragraph text like in this long essay on sparklines https://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0001OR

I sti

[2017-06-29 02:15] phocks commented on #63
Waffle charts are now live too and available in Chart Builder https://github.com/abcnews/chart-builder

[2017-07-03 23:48] phocks commented on #77
I've been having a quick look at this. I've had some luck updating a doc's "parents" ie. put it in a folder on my own Google account using the code here https://developers.google.com/drive/v2/web/folder

[code]

Chart builder uses Authomatic so the process will be a bit different, but I imagine if we just update this bit of code:

[code]

to:

[code]

Then theoretically every time we create a doc

[2017-07-04 01:50] drzax commented on #77
That looks promising. Nice job.

[2017-07-04 01:54] drzax commented on #63
Thanks @phocks—nice job.

[2017-07-04 01:54] #63 closed

[2017-07-04 01:55] drzax commented on #57
I'll leave this open until you've merged the documentation, but nice work. Close when docs are merged.

[2017-07-04 06:09] cathhanrahan opened #82 "Mobile tick marks not reducing line chart"
Hi guys. I am trying to reduce the number of mobile tick marks in my line chart but it is not responding when the date format is 'x' rather than date. I've tried to reduce my 'mobileTicksX' to 2 but it isn't responding. Thanks, Cath.

[2017-07-04 23:08] phocks commented on #82
Hi @cathhanrahan, Matt just spoke to me about this and I will have a look. If you could show me the exact data you're trying to put in that could help me out trying to debug. Thanks, Josh.

[2017-07-04 23:10] cathhanrahan commented on #82
Hi Josh. Here's a link to the Chartbuilder chart I am looking at. Can you access it? Thanks, Cath.
http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/religionbyage040717/build/

[2017-07-04 23:23] phocks commented on #57
Thanks, documentation is now merged.

[2017-07-04 23:23] #57 closed

[2017-07-04 23:26] phocks commented on #82
Thanks Cath, yes I can see the x values are clumping together on mobile. And this doesn't happen when they are dates and the mobileTicksX value is set to 2 etc. I will have a look at the code and see if I can find out what's happening. Hold tight.

[2017-07-05 00:33] phocks commented on #82
Hi Cath, okay so I have found where the issue is and I think I have a solution potentially. It's worth noting that this functionality is built into the line chart anyway it seems as I just saw this in the documentation:

So if it's not a date based x axis it will not even try to reduce the number of ticks anyway in the code. I think I have a way of making it work though. Give me a bit of time to t

[2017-07-05 01:12] phocks commented on #82
OK! So the problem comes about due to the way D3 scales the data for axis. With date ranges and "linear" (1 - 100) ranges it handles it fine, but for "ordinal" or discrete ranges [kids, teenagers, adults, seniors] it has trouble working out which ones to display or cut out, so it just displays them all.

Fortunately it looks like we can just tell it which ticks we want to be displayed as documente

[2017-07-05 01:30] cathhanrahan commented on #82
Ok that sounds great Josh. Let me know when it is functional and I'll give it a try. Cath.

[2017-07-05 02:02] phocks commented on #82
Found a bug. Looks like it's not liking the 0-14, 25-34, 45-54, 65-74, 85 years values. I'll check what's going on. Something strange!

[2017-07-05 02:54] phocks commented on #82
We have merged the changes and you should be able to give it a try now. You may need to rebuild your template from within Chart Builder. I have altered this chart with changes for testing. See if it is behaving as you expect. http://newsdev3.aus.aunty.abc.net.au/tools/chart-builder/graphics/religionbyage040717/build/

[2017-07-05 03:08] cathhanrahan commented on #82
Thanks so much Josh. It looks great now.

[2017-07-07 00:34] #82 closed

[2018-01-18 23:52] drzax opened #85 "Use hidden voronoi for tooltips"
Only x-axis positioning appears to be used for choosing which data point to annotate with tooltips on line charts.

This probably makes sense for charts with multiple series, but not for single series charts. Consider using hidden voronoi to position instead.